<%# CSS・・・assets/stylesheets/posts/header.css %>
<header class="header-main">
  <div class="header-title">
    <%= link_to "HOTEL PHOTO", "#",class:"title" %>
  </div>
  <div class="nav">
    <ul class="loglist">
      <%# if user_signed_in? %>
        <li><%= link_to "ユーザー名", "#", class: "user-nickname" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
      <%# else %>
        <%# <li><%= link_to "ログイン", "#", class: "login" %></li>
        <%# <li><%= link_to "新規登録", "#", class: "sign-up" %></li>
      <%# end %>
    </ul>
  </div>
</header>
