<%# CSS・・・assets/stylesheets/posts/header.css %>
<header class="header-main">
  <div class="header-left">
    <div class="header-title">
      <%= link_to "Snap Stay", root_path,class:"title" %>
    </div>
  </div>
  <div class="header-right">
    <div class="nav">
      <div class="btn-space">
        <div class="new-btn">
          <%= link_to "投稿する", new_hotel_path , class: "new-btn-text" %>
        </div>
      </div>
      <div class="loglist">
        <% if user_signed_in? %>
          <div class="user-nickname">
            <%= link_to current_user.nickname, user_path(current_user), class:"link-text" %>
          </div>
          <div class="logout">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link-text" %>
          </div>
        <% else %>
          <div class="login">
            <%= link_to "ログイン", new_user_session_path, class:"link-text" %>
          </div>
          <div class="sign-up">
            <%= link_to "新規登録", new_user_registration_path, class:"link-text" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
