<%# CSS・・・assets/stylesheets/posts/header.css %>
<header class="header-main">
  <div class="header-title">
    <%= link_to "Snap Stay", root_path,class:"title" %>
  </div>
  <div class="nav">
    <div class="btn-space">
      <div class="new-btn">
        <%= link_to "投稿する", new_hotel_path , class: "new-btn-text" %>
      </div>
    </div>
    <ul class="loglist">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path, class: "login" %></li>
        <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>
