<%= render "header" %>

<div class="main">
  <div class="lists">
    <ul class='hotel-lists'>
      <%  @hotels.each do |hotel| %>
        <li class='list'>
          <div class='hotel-img-content'>
            <%= link_to hotel_path(hotel) do %>
              <%= image_tag hotel.images[0], class: "hotel-img" %>
            <% end %>
          </div>
          <div class='hotel-info'>
            <div class="hotels-name">
              <%= link_to hotel.name, hotel_path(hotel), class:"hotel-name" %>
            </div>
            <div class='hotel-address'>
              <span><%= hotel.prefecture.name %>  <%= hotel.city %></span>
            </div>
            <div class="users-name">
              <%= link_to hotel.user.nickname, user_path(hotel.user.id), class:"user-name" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>