<%= render "header" %>

<div class="hotel-show-main">
  <div class="hotel-show">
    <div class="hotel-show-name">
      <%= @hotel.name%>
    </div>
    <div class="hotel-show-address">
      <%= @hotel.prefecture.name %>  <%= @hotel.city %>
    </div>
    <div class="hotel-show-nickname">
      <%= @hotel.user.nickname %>
    </div>
    <div class="hotel-show-images">
      <% @hotel.images[0..-1].each do |image| %>
        <div class="hotel-show-image">
          <%= image_tag image %>
        </div>
      <%end%>
    </div>
    <div class="hotel-show-text">
      <%= @hotel.text %>
    </div>
  </div>
</div>
