<%= render "header" %>

<div class="hotel-show-main">
  <div class="hotel-show">
    <div class="hotel-show-name">
      <%= @hotel.name%>
    </div>
    <div class="hotel-show-address">
      <%= @hotel.prefecture.name %>  <%= @hotel.city %>
    </div>
    <div class="hotel-show-nickname">
      <div class="nickname-text">
        <%= link_to @hotel.user.nickname, user_path(@hotel.user.id) %>
      </div>
      <div id="like-btn<%= @hotel.id %>", class="like-btn-space2">
          <%= render partial: "likes/like", locals: { hotel: @hotel } %>
        </div>
    </div>

    <div class="hotel-show-images">
      <div class="hotel-show-image">
        <% @hotel.images[0..-1].each do |image| %>
          <div class ="slide-img">
            <%= image_tag image %>
          </div>
        <%end%>
      </div>
      <div class="dots"></div>
    </div>
    <div class="text-space">
      <div class="hotel-show-text">
        <%= @hotel.text %>
      </div>
    </div>

    <div id="comments">
      <div class="comments-list">
        <div class="comment-list-top">＜コメント一覧＞</div>
          <% @hotel.comments.each do |comment| %>
            <div class="comment">
              <p class="user-info"><%= comment.user.nickname %>： </p>
              <p><%= comment.text%></p>
            </div>
          <% end %>
      </div>
    </div>

    <div class="comment-form">
      <% if user_signed_in? %>
        <%= form_with model: [@hotel, @comment], id: "comment-form" do |f| %>
          <%= f.text_area :text , class: "comment-text"%>
          <%= f.submit "コメントをする", class: "comment-submit" %>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? && current_user == @hotel.user %>
      <div class="btns">
        <div class="edit-btn">
          <%= link_to "編集", edit_hotel_path(@hotel.id), class:"edit-btn-text" %>
        </div>
        <div class="delete-btn">
          <%= link_to "削除", hotel_path(@hotel.id), method: :delete, class:"delete-btn-text" %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>